html {
    background-color: rgb(12, 23, 15);
}

.title {
    color: rgba(230, 209, 102, 0.9);
    font-size: 3rem;
    font-family: "EB Garamond", serif;
}

.game-container {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}

.status-bar {
    display: flex;
    justify-content: right;
    font-family: "Noto Sans Mono", monospace;
    font-size: 1.5rem;
    color: rgba(189, 190, 142, 0.495);
    margin-bottom: 1rem;

}

.divider {
    padding-left: 10px;
    padding-right: 10px;
}

#game {
    font-family: "Noto Sans Mono", monospace;
    font-size: 2rem;
    color: rgba(189, 190, 142, 0.495);

}

.starting-letter-block {
    background-color: rgb(66, 70, 144);
    animation: blink 1.5s infinite;
}

.letter-block {
    background-color: rgb(66, 70, 144);
}

.letter-block-wrong {
    background-color: rgb(139, 70, 63);
}

.letter-correct {
    /* color: rgb(163,166,74); */
    color: rgb(230, 209, 102);
    text-shadow: rgb(255, 132, 0) 1px 0 10px;
}

.letter-wrong {
    color: rgb(139, 70, 63);
}

@keyframes blink {
    0% {
        background-color: rgb(66, 70, 144);
    }

    50% {
        background-color: transparent;
    }

    100% {
        background-color: rgb(66, 70, 144);
    }
}

@media only screen and (max-width: 900px) {
    /* CSS rules for phone screens go here */
    .game-container {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10%
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fuzzy-search-bar {
    width: 60%;

}