html {
    background-color: rgb(12, 23, 15);
}

a {
    text-decoration: none;
}

a:link {
    color: rgba(189, 190, 142, 0.495);
}

a:visited {
    color: rgba(189, 190, 142, 0.495);
}

nav {
    display: flex;
    align-items: baseline;
    column-gap: 60px;
}

.nav-logo {
    color: rgba(230, 209, 102, 0.9);
    font-size: 3rem;
    font-family: "EB Garamond", serif;
}

.nav-item {
    color: rgba(189, 190, 142, 0.495);
    font-size: 2rem;
}

.game-container {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}

.status-bar {
    display: flex;
    justify-content: right;
    font-family: "Noto Sans Mono", monospace;
    font-size: 1.5rem;
    color: rgba(189, 190, 142, 0.495);
    margin-bottom: 1rem;

}

.divider {
    padding-left: 10px;
    padding-right: 10px;
}

#timer {
    width: 70px;
}

#game {
    font-family: "Noto Sans Mono", monospace;
    font-size: 2rem;
    color: rgba(189, 190, 142, 0.495);
    height: 400px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
}

.starting-letter-block {
    background-color: rgb(66, 70, 144);
    animation: blink 1.5s infinite;
}

.letter-block {
    background-color: rgb(66, 70, 144);
}

.letter-block-wrong {
    background-color: rgb(139, 70, 63);
}

.letter-correct {
    /* color: rgb(163,166,74); */
    color: rgb(230, 209, 102);
    text-shadow: rgb(255, 132, 0) 1px 0 10px;
}

.letter-wrong {
    color: rgb(139, 70, 63);
}

.reset {
    padding-top: 1rem;
    font-family: "Noto Sans Mono", monospace;
    color: rgba(189, 190, 142, 0.241);
}

@keyframes blink {
    0% {
        background-color: rgb(66, 70, 144);
    }

    50% {
        background-color: transparent;
    }

    100% {
        background-color: rgb(66, 70, 144);
    }
}

@media only screen and (max-width: 900px) {

    /* CSS rules for phone screens go here */
    .game-container {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10%
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#fuzzy-search-container {
    flex-direction: column;
}

#fuzzy-search-bar {
    margin-top: 3%;
    background: transparent;
    color: rgb(189, 190, 142);
    font-size: 2rem;
    border-color: rgba(189, 190, 142, 0.547);
    border-style: solid;
    border-radius: 40px;
    width: 60%;
    height: 3rem;
    text-indent: 40px;
}

input:focus {
    outline: none;
}

::placeholder {
    color: rgba(187, 188, 151, 0.2);
}

.lore-card-width {
    width: 70%;
}

.lore-card {
    font-family: "Noto Sans Mono", monospace;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    color: rgba(189, 190, 142, 0.656);
    border-radius: 8px;
    margin-top: 1rem;
    min-height: 128px;
    border: 2px solid;
    transition: transform .1s; /* Animation */
}

.lore-card:hover {
    transform: scale(1.025); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.lore-meta-data {
    display: flex;
    justify-content: space-between;
}

.lore-tags {
    font-size: 1rem;
}

.lore-text {
    padding-top: .5rem;
    font-size: 1rem;
}